@tailwind base;
@tailwind components;
@tailwind utilities;

.growth {
  font-size: calc(10px + 2vmin);
  width: 65%;
  height: 29.375rem;
  margin-right: 1.188rem;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.openNav {
  animation: openNav 0.5s ease-in-out;
}

.closeNav {
  display: none;
  height: 0;
  opacity: 0;
  animation: closeNav 0.5s ease-out;
}

#nprogress .bar {
  background: #388f88 !important;
}

#nprogress .peg {
  box-shadow: 0 0 0.625rem #388f88, 0 0 0.313rem #388f88 !important;
}

#nprogress .spinner-icon {
  border-top-color: #388f88 !important;
  border-left-color: #388f88 !important;
}

#upload {
  background-image: linear-gradient(to right, #fff 60%, #388f88 0%), linear-gradient(to bottom, #388f88 60%, #fff 0%), linear-gradient(to left, #fff 60%, #388f88 0%),
    linear-gradient(to top, #388f88 60%, #fff 0%);
  background-position: top, right, bottom, left;
  background-size: 40px 1px, 1px 40px, 40px 1px, 1px 40px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
}

#upload2 {
  background-position: top, right, bottom, left;
  background-size: 40px 1px, 1px 40px, 40px 1px, 1px 40px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-color: #eaf2fb;
}

@keyframes openNav {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 270px;
    opacity: 1;
  }
}

@keyframes closeNav {
  0% {
    height: 270px;
    opacity: 1;
    display: block;
  }
  100% {
    height: 0px;
    opacity: 0;
    display: none;
  }
}

.showAbout {
  animation: showAbout 0.1s ease-out;
}

.hideAbout {
  display: none;
  height: 0;
  opacity: 0;
  animation: hideAbout 0.5s ease-out;
}

@keyframes showAbout {
  0% {
    height: 0px;
    opacity: 1;
  }
  100% {
    height: 320px;
    opacity: 1;
  }
}

@keyframes hideAbout {
  0% {
    height: 320px;
    opacity: 1;
    display: block;
  }
  100% {
    height: 0px;
    opacity: 0;
    display: none;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  width: 100vw;
  height: 100vh;
}

@layer base {
  html,
  body {
    font-family: "Raleway", sans-serif;
  }
}
