@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.openNav {
  animation: openNav 0.5s ease-in-out;
}

.closeNav {
  display: none;
  height: 0;
  opacity: 0;
  animation: closeNav 0.5s ease-out;
}

#nprogress .bar {
  background: #388f88 !important;
}

#nprogress .peg {
  box-shadow: 0 0 0.625rem #388f88, 0 0 0.313rem #388f88 !important;
}

#nprogress .spinner-icon {
  border-top-color: #388f88 !important;
  border-left-color: #388f88 !important;
}

@keyframes openNav {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 270px;
    opacity: 1;
  }
}

@keyframes closeNav {
  0% {
    height: 270px;
    opacity: 1;
    display: block;
  }
  100% {
    height: 0px;
    opacity: 0;
    display: none;
  }
}

.showAbout {
  animation: showAbout 0.1s ease-out;
}

.hideAbout {
  display: none;
  height: 0;
  opacity: 0;
  animation: hideAbout 0.5s ease-out;
}

@keyframes showAbout {
  0% {
    height: 0px;
    opacity: 1;
  }
  100% {
    height: 320px;
    opacity: 1;
  }
}

@keyframes hideAbout {
  0% {
    height: 320px;
    opacity: 1;
    display: block;
  }
  100% {
    height: 0px;
    opacity: 0;
    display: none;
  }
}

@layer base {
  html,
  body {
    font-family: "Raleway", sans-serif;
  }
}
